<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="printWidgets">
        <!-- Responsive Draggable GIF Floating Container (Hidden on Print) -->
        <div class="floating-gif-container no-print" id="draggableWidget">
            <img th:src="@{/images/dancing.gif}" src="https://cdn.imageurlgenerator.com/uploads/965960cd-616e-4c39-8661-8dac55a1fb03.gif" alt="Dancing Character" class="dancing-gif" draggable="false" />
        </div>
    </div>
</body>
</html>